@import 'src/app.scss';

.help-menu {
	margin-top: 100px;
}

.help-menu-item {
	font-size: 14px;
	color: $color_concepts_3;
	&:hover {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}
.help-menu-item-selected > p {
	background-color: $color_concepts_3;
	color: white;
	padding: 10px;
	border: 2px solid $color_concepts_3;
	border-radius: 6px;
}
.help-menu-sub {
	font-size: 20px;
	margin-bottom: 10px;
	//background-color: $color_concepts_2;
	color: $color_concepts_2;
	border: 2px solid $color_concepts_2;
	border-radius: 3px;
	padding: 5px;
	text-align: center;
}

.help-footer {
	margin-top: 50px;
	font-size: 16px;
}

.content-back-color {
	background-color: $color_concepts_3;
	color: white;
	padding: 2px;
	border: 1px solid $color_concepts_3;
	border-radius: 3px;
	&:hover {
		text-decoration: none;
	}
}

.content-color {
	color: $color_concepts_3;
	font-weight: bold;
}
