@import 'src/index.scss';

.panel-concepts {
	border-color: $color_concepts_3;
	> .panel-heading {
		background: $color_concepts_3;
		color: #fff;
		border-color: $color_concepts_3;
	}

	> .panel-body {
		background: #f3f3f3;
		border-color: $color_concepts_3;
	}
}

.panel-classifications {
	border-color: $color_classifications_3;
	> .panel-heading {
		background: $color_classifications_3;
		color: #fff;
		border-color: $color_classifications_3;
	}

	> .panel-body {
		background: #f3f3f3;
		border-color: $color_classifications_3;
	}
}

.panel-operations {
	background: #f3f3f3;
	border-color: $color_operations_3;
	height: 100%;

	> .panel-heading {
		background: $color_operations_3;
		color: #fff;
		border-color: $color_operations_3;
	}

	> .panel-body {
		background: #f3f3f3;
		border-color: $color_operations_3;
	}
}

.panel-dsds {
	background: #f3f3f3;
	border-color: $color_dsds_3;
	height: 100%;

	> .panel-heading {
		background: $color_dsds_3;
		color: #fff;
		border-color: $color_dsds_3;
	}

	> .panel-body {
		background: #f3f3f3;
		border-color: $color_dsds_3;
	}
}
