body {
  --color-1: #91b5d0;
  --color-2: #425d84;
  --color-3: #5f7a96;
}
.operations {
  --color-1: #a96d88;
  --color-2: #7e375b;
  --color-3: #600141;
  --menu-active-page: var(--color-3);
  --sub-title: var(--color-3);
  --home-icon-color: var(--color-3);
}
.concepts {
  --color-1: #91b5d0;
  --color-2: #2d3c4b;
  --color-3: #45586c;
  --menu-active-page: var(--color-2);
  --sub-title: var(--color-2);
  --home-icon-color: var(--color-3);
}
.classifications {
  --color-1: #a59643;
  --color-2: #5d5425;
  --color-3: #817534;
  --menu-active-page: var(--color-3);
  --sub-title: var(--color-3);
  --home-icon-color: var(--color-3);
}
.structures {
  --color-1: #917674;
  --color-2: #603d39;
  --color-3: #7d4f4a;
  --menu-active-page: var(--color-3);
  --sub-title: var(--color-3);
  --home-icon-color: var(--color-3);
}

.codelists {
  --color-1: #7a7491;
  --color-2: #524978;
  --color-3: #6c64a3;
  --menu-active-page: var(--color-3);
  --sub-title: var(--color-3);
  --home-icon-color: var(--color-3);
}

.datasets {
  --color-1: #e54006;
  --color-2: #87361a;
  --color-3: #aa4421;
  --menu-active-page: var(--color-3);
  --sub-title: var(--color-3);
  --home-icon-color: var(--color-3);
}

.ddi {
  --color-1: #e67e80;
  --color-2: #a63237;
  --color-3: #d14a4f;
  --menu-active-page: var(--color-3);
  --sub-title: var(--color-3);
  --home-icon-color: var(--color-3);
}
