body {
	--color-1: #91b5d0;
	--color-2: #425d84;
	--color-3: #5f7a96;
}
.operations {
	--color-1: #a96d88;
	--color-2: #7e375b;
	--color-3: #600141;
	--menu-active-page: var(--color-3);
	--sub-title: var(--color-3);
	--home-icon-color: var(--color-3);
}
.concepts {
	--color-1: #91b5d0;
	--color-2: #425d84;
	--color-3: #5f7a96;
	--menu-active-page: var(--color-2);
	--sub-title: var(--color-2);
	--home-icon-color: var(--color-3);
}
.classifications {
	--color-1: #a59643;
	--color-2: #5d5425;
	--color-3: #817534;
	--menu-active-page: var(--color-3);
	--sub-title: var(--color-3);
	--home-icon-color: var(--color-3);
}
.structures {
	--color-1: #917674;
	--color-2: #784d49;
	--color-3: #a36a64;
	--menu-active-page: var(--color-3);
	--sub-title: var(--color-3);
	--home-icon-color: var(--color-3);
}

.codelists {
	--color-1: #7a7491;
	--color-2: #524978;
	--color-3: #6c64a3;
	--menu-active-page: var(--color-3);
	--sub-title: var(--color-3);
	--home-icon-color: var(--color-3);
}

.datasets {
	--color-1: #e54006;
	--color-2: #aa4421;
	--color-3: #cc5026;
	--menu-active-page: var(--color-3);
	--sub-title: var(--color-3);
	--home-icon-color: var(--color-3);
}

.bauhaus-app,
.habilitations {
	--color-1: #775e88;
	--color-2: #5b4867;
	--color-3: #45374e;
	--menu-active-page: var(--color-3);
	--sub-title: var(--color-3);
	--home-icon-color: var(--color-3);
}
