/**
* we tried to respect the ITCSS architecture for our stylessheets
*/

@use "tools.scss";
@use "generic.scss";
@use "elements.scss";
@use "components.scss";
@use "utilities.scss";

@import "settings.css";

.items {
  display: inline-block;
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
}

img.img-flag {
  height: 20px !important;
  width: auto !important;
  margin: 0 !important;
}

@media (max-width: 1000px) {
  .operations-list {
    width: 100%;
  }
}

.list-group-item {
  text-align: left;
}

.nav-tabs > li {
  border: 1px solid var(--primary-color);
}
.nav-tabs.nav-justified > li > a {
  border-bottom: none;
}
.nav-tabs > li > a:hover {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
}
.nav-tabs > li.active > a {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}
.nav-tabs > li > a:focus {
  background-color: var(--primary-color) !important;
  color: #fff;
}

.boldWhite {
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.editor-container {
  margin-top: 20px;
}

.row.flex {
  display: flex;
  flex-wrap: wrap;
}
.row.flex [class*="col-"] {
  display: flex;
  flex-direction: column;
}

footer {
  > button.btn {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #585e76;
    border-color: #585e76;

    &:hover,
    &:focus,
    &:active {
      background-color: #474c61;
      border-color: #474c61;
    }
  }

  p {
    color: #0b0b55;
    font-weight: bold;
  }

  > div {
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    min-height: 100px;

    > #bauhausVersion {
      padding-left: 30px;

      p {
        color: #82848b;
      }
    }
  }

  a:first-child {
    border-right-color: #82848b;
    border-right-style: solid;
    border-right-width: 2px;
    padding-right: 20px;
  }

  a:nth-of-type(2) {
    padding-left: 20px;
  }

  a > img {
    width: 20%;
  }
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.modal-header {
  color: white;
  background: var(--primary-color);
  .close {
    opacity: 1;
    color: white;
  }
}

.wilco-action-toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  margin: 1em 0;
  gap: 1em;
  justify-content: space-between;

  > * {
    max-width: 250px;
  }
}
.ReactModal__Overlay {
  z-index: 20;
}

.DraftEditor-root {
  max-height: 100px;
  overflow: scroll;
}

.sr-only {
  position: absolute;
  top: 0;
  left: -3000px;
}
.form-control {
  font-size: inherit !important;
}

.wmde-markdown {
  font-size: unset !important;
}
