{
	"extends": [
		"prettier",
		"react-app",
		"plugin:testing-library/react",
		"plugin:jest-dom/recommended"
	],
	"plugins": ["testing-library", "jest-dom", "jest"],
	"rules": {
		"jsx-a11y/href-no-hash": 0,
		"no-useless-escape": "off",
		"no-duplicate-imports": "error",
		"import/no-anonymous-default-export": 0,
		"testing-library/no-container": 0,
		"testing-library/no-node-access": 0,
		"testing-library/render-result-naming-convention": 0,
		"testing-library/prefer-screen-queries": 0,
		"testing-library/prefer-presence-queries": 0,
		"testing-library/no-unnecessary-act": 0,
		"testing-library/no-wait-for-multiple-assertions": 0,
		"jest/no-disabled-tests": "error",
		"jest/no-focused-tests": "error",
		"jest/no-identical-title": "error",
		"jest/prefer-to-have-length": "warn",
		"jest/valid-expect": "error"
	},
	"settings": {
		"react": {
			"version": "16.3.0"
		}
	},
	"globals": {
		"cy": true,
		"Cypress": true
	},
	"env": {
		"mocha": true
	}
}
