# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
dist

.deploy
deploy.sh

# styles
*.css

# storybook building files
/website

# misc
.DS_Store
*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/swagger
.cache

*.mp4
.sonar_lock
.scannerwork
test-results