@use "../../../../styles/tools.scss";

.documentsbloc {
  i {
    margin-left: 10px;
  }

  &__btn {
    @include tools.reset-btn();
  }
  &__delete {
    float: right;
  }
  &__filepicker {
    padding-left: 0;
  }
}

.documentbloc__item {
  display: flex;

  span {
    flex: 2 1 auto;
  }
}

.documentblock__picker {
  .panel-heading {
    display: flex;
    justify-content: space-between;

    .btn {
      background-color: transparent;
    }
  }
}
