body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.inline {
  display: inline; }

.items {
  display: inline-block;
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%; }

.img-block {
  display: block;
  width: 100%;
  text-align: center; }

.img {
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%; }

.img-flag {
  height: 20px;
  width: auto;
  margin: 0; }

.btn-group-vertical {
  border: 2px solid #457dbb;
  border-radius: 6px;
  margin-top: 200px; }

.btn-group-vertical .btn {
  margin-top: 15px;
  margin-bottom: 15px; }

.btn-line {
  margin-top: 15px;
  margin-bottom: 15px; }

.page-title-link:hover {
  color: #044173;
  text-decoration: none;
  background-color: white; }

.page-title-temp {
  border: 2px solid #457dbb;
  background-color: #457dbb;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
  opacity: 0.3; }

.list-group-item {
  text-align: left; }

.img-flag {
  height: 20px;
  width: auto;
  margin: 0; }

link {
  color: #ffffff; }

.centered {
  text-align: center; }

.vertical-center {
  display: flex;
  align-items: center; }

.red {
  color: red; }

.nav-tabs > li {
  border: 1px solid #457dbb; }

.nav-tabs.nav-justified > li > a {
  border-bottom: none; }

.nav-tabs > li > a:hover {
  background-color: #234ca5 !important;
  color: #ffffff !important; }

.nav-tabs > li.active > a {
  background-color: #457dbb !important;
  color: #ffffff !important; }

.nav-tabs > li > a:focus {
  background-color: #457dbb !important;
  color: #ffffff; }

.boldRed {
  color: red;
  font-weight: bold;
  font-size: 25px; }

.boldWhite {
  color: white;
  font-weight: bold;
  font-size: 25px; }

.bold {
  font-weight: bold; }

.rdw-editor-toolbar {
  border-style: none; }

.DraftEditor-root {
  border: 2px solid #457dbb;
  border-radius: 6px;
  margin-top: 10px;
  min-height: 200px; }

.editor-container {
  margin-top: 20px; }

.full-label {
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.inline {
  display: inline; }

.items {
  display: inline-block;
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%; }

.img-block {
  display: block;
  width: 100%;
  text-align: center; }

.img {
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%; }

.img-flag {
  height: 20px;
  width: auto;
  margin: 0; }

.btn-group-vertical {
  border: 2px solid #457dbb;
  border-radius: 6px;
  margin-top: 200px; }

.btn-group-vertical .btn {
  margin-top: 15px;
  margin-bottom: 15px; }

.btn-line {
  margin-top: 15px;
  margin-bottom: 15px; }

.page-title-link:hover {
  color: #044173;
  text-decoration: none;
  background-color: white; }

.page-title-temp {
  border: 2px solid #457dbb;
  background-color: #457dbb;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
  opacity: 0.3; }

.list-group-item {
  text-align: left; }

.img-flag {
  height: 20px;
  width: auto;
  margin: 0; }

link {
  color: #ffffff; }

.centered {
  text-align: center; }

.vertical-center {
  display: flex;
  align-items: center; }

.red {
  color: red; }

.nav-tabs > li {
  border: 1px solid #457dbb; }

.nav-tabs.nav-justified > li > a {
  border-bottom: none; }

.nav-tabs > li > a:hover {
  background-color: #234ca5 !important;
  color: #ffffff !important; }

.nav-tabs > li.active > a {
  background-color: #457dbb !important;
  color: #ffffff !important; }

.nav-tabs > li > a:focus {
  background-color: #457dbb !important;
  color: #ffffff; }

.boldRed {
  color: red;
  font-weight: bold;
  font-size: 25px; }

.boldWhite {
  color: white;
  font-weight: bold;
  font-size: 25px; }

.bold {
  font-weight: bold; }

.rdw-editor-toolbar {
  border-style: none; }

.DraftEditor-root {
  border: 2px solid #457dbb;
  border-radius: 6px;
  margin-top: 10px;
  min-height: 200px; }

.editor-container {
  margin-top: 20px; }

.full-label {
  width: 100%; }

.btn-concepts {
  background-color: #457dbb;
  border-color: #457dbb;
  color: white; }
  .btn-concepts:hover {
    color: white; }
  .btn-concepts:hover:not([disabled]) {
    background-color: #234ca5;
    color: white; }

.btn-classifications {
  background-color: #419f2e;
  border-color: #419f2e;
  color: white; }
  .btn-classifications:hover {
    color: white; }
  .btn-classifications:hover:not([disabled]) {
    background-color: #53872a;
    color: white; }

.btn-operations {
  background-color: #a31c20;
  border-color: #a31c20;
  color: white; }
  .btn-operations:hover {
    color: white; }
  .btn-operations:hover:not([disabled]) {
    background-color: #6f1417;
    color: white; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.inline {
  display: inline; }

.items {
  display: inline-block;
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%; }

.img-block {
  display: block;
  width: 100%;
  text-align: center; }

.img {
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%; }

.img-flag {
  height: 20px;
  width: auto;
  margin: 0; }

.btn-group-vertical {
  border: 2px solid #457dbb;
  border-radius: 6px;
  margin-top: 200px; }

.btn-group-vertical .btn {
  margin-top: 15px;
  margin-bottom: 15px; }

.btn-line {
  margin-top: 15px;
  margin-bottom: 15px; }

.page-title-link:hover {
  color: #044173;
  text-decoration: none;
  background-color: white; }

.page-title-temp {
  border: 2px solid #457dbb;
  background-color: #457dbb;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
  opacity: 0.3; }

.list-group-item {
  text-align: left; }

.img-flag {
  height: 20px;
  width: auto;
  margin: 0; }

link {
  color: #ffffff; }

.centered {
  text-align: center; }

.vertical-center {
  display: flex;
  align-items: center; }

.red {
  color: red; }

.nav-tabs > li {
  border: 1px solid #457dbb; }

.nav-tabs.nav-justified > li > a {
  border-bottom: none; }

.nav-tabs > li > a:hover {
  background-color: #234ca5 !important;
  color: #ffffff !important; }

.nav-tabs > li.active > a {
  background-color: #457dbb !important;
  color: #ffffff !important; }

.nav-tabs > li > a:focus {
  background-color: #457dbb !important;
  color: #ffffff; }

.boldRed {
  color: red;
  font-weight: bold;
  font-size: 25px; }

.boldWhite {
  color: white;
  font-weight: bold;
  font-size: 25px; }

.bold {
  font-weight: bold; }

.rdw-editor-toolbar {
  border-style: none; }

.DraftEditor-root {
  border: 2px solid #457dbb;
  border-radius: 6px;
  margin-top: 10px;
  min-height: 200px; }

.editor-container {
  margin-top: 20px; }

.full-label {
  width: 100%; }

.panel-concepts {
  border-color: #457dbb; }

.panel-concepts > .panel-heading {
  background: #457dbb;
  color: #ffffff;
  border-color: #457dbb; }

.panel-concepts > .panel-body {
  background: #f3f3f3;
  border-color: #457dbb; }

.panel-classifications {
  border-color: #419f2e; }

.panel-classifications > .panel-heading {
  background: #419f2e;
  color: #ffffff;
  border-color: #419f2e; }

.panel-classifications > .panel-body {
  background: #f3f3f3;
  border-color: #419f2e; }

.panel-operations {
  border-color: #a31c20; }

.panel-operations > .panel-heading {
  background: #a31c20;
  color: #ffffff;
  border-color: #a31c20; }

.panel-operations > .panel-body {
  background: #f3f3f3;
  border-color: #a31c20; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.inline {
  display: inline; }

.items {
  display: inline-block;
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%; }

.img-block {
  display: block;
  width: 100%;
  text-align: center; }

.img {
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%; }

.img-flag {
  height: 20px;
  width: auto;
  margin: 0; }

.btn-group-vertical {
  border: 2px solid #457dbb;
  border-radius: 6px;
  margin-top: 200px; }

.btn-group-vertical .btn {
  margin-top: 15px;
  margin-bottom: 15px; }

.btn-line {
  margin-top: 15px;
  margin-bottom: 15px; }

.page-title-link:hover {
  color: #044173;
  text-decoration: none;
  background-color: white; }

.page-title-temp {
  border: 2px solid #457dbb;
  background-color: #457dbb;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
  opacity: 0.3; }

.list-group-item {
  text-align: left; }

.img-flag {
  height: 20px;
  width: auto;
  margin: 0; }

link {
  color: #ffffff; }

.centered {
  text-align: center; }

.vertical-center {
  display: flex;
  align-items: center; }

.red {
  color: red; }

.nav-tabs > li {
  border: 1px solid #457dbb; }

.nav-tabs.nav-justified > li > a {
  border-bottom: none; }

.nav-tabs > li > a:hover {
  background-color: #234ca5 !important;
  color: #ffffff !important; }

.nav-tabs > li.active > a {
  background-color: #457dbb !important;
  color: #ffffff !important; }

.nav-tabs > li > a:focus {
  background-color: #457dbb !important;
  color: #ffffff; }

.boldRed {
  color: red;
  font-weight: bold;
  font-size: 25px; }

.boldWhite {
  color: white;
  font-weight: bold;
  font-size: 25px; }

.bold {
  font-weight: bold; }

.rdw-editor-toolbar {
  border-style: none; }

.DraftEditor-root {
  border: 2px solid #457dbb;
  border-radius: 6px;
  margin-top: 10px;
  min-height: 200px; }

.editor-container {
  margin-top: 20px; }

.full-label {
  width: 100%; }

.loading-row {
  margin-top: 5%; }

.loading-concepts > div {
  fill: #457dbb !important; }

.loading-text-concepts {
  color: #457dbb; }

.loading-classifications > div {
  fill: #419f2e !important; }

.loading-text-classifications {
  color: #419f2e; }

.loading-operations > div {
  fill: #a31c20 !important;
  margin: auto; }

.loading-text-operations {
  color: #a31c20; }

.public-DraftStyleDefault-block {
  margin: 0; }

.DraftEditor-root {
  padding: 5px; }

.rdw-option-wrapper {
  min-width: 30px;
  height: 30px; }

.rdw-link-modal {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content; }

.rdw-link-modal-btn {
  color: black;
  text-align: center; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.inline {
  display: inline; }

.items {
  display: inline-block;
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%; }

.img-block {
  display: block;
  width: 100%;
  text-align: center; }

.img {
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%; }

.img-flag {
  height: 20px;
  width: auto;
  margin: 0; }

.btn-group-vertical {
  border: 2px solid #457dbb;
  border-radius: 6px;
  margin-top: 200px; }

.btn-group-vertical .btn {
  margin-top: 15px;
  margin-bottom: 15px; }

.btn-line {
  margin-top: 15px;
  margin-bottom: 15px; }

.page-title-link:hover {
  color: #044173;
  text-decoration: none;
  background-color: white; }

.page-title-temp {
  border: 2px solid #457dbb;
  background-color: #457dbb;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
  opacity: 0.3; }

.list-group-item {
  text-align: left; }

.img-flag {
  height: 20px;
  width: auto;
  margin: 0; }

link {
  color: #ffffff; }

.centered {
  text-align: center; }

.vertical-center {
  display: flex;
  align-items: center; }

.red {
  color: red; }

.nav-tabs > li {
  border: 1px solid #457dbb; }

.nav-tabs.nav-justified > li > a {
  border-bottom: none; }

.nav-tabs > li > a:hover {
  background-color: #234ca5 !important;
  color: #ffffff !important; }

.nav-tabs > li.active > a {
  background-color: #457dbb !important;
  color: #ffffff !important; }

.nav-tabs > li > a:focus {
  background-color: #457dbb !important;
  color: #ffffff; }

.boldRed {
  color: red;
  font-weight: bold;
  font-size: 25px; }

.boldWhite {
  color: white;
  font-weight: bold;
  font-size: 25px; }

.bold {
  font-weight: bold; }

.rdw-editor-toolbar {
  border-style: none; }

.DraftEditor-root {
  border: 2px solid #457dbb;
  border-radius: 6px;
  margin-top: 10px;
  min-height: 200px; }

.editor-container {
  margin-top: 20px; }

.full-label {
  width: 100%; }

.page-subtitle-concepts {
  border: 2px solid #5d87e8;
  background-color: #5d87e8;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px; }

.page-subtitle-classifications {
  border: 2px solid #85c630;
  background-color: #85c630;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px; }

.page-subtitle-operations {
  border: 2px solid #db2754;
  background-color: #db2754;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.inline {
  display: inline; }

.items {
  display: inline-block;
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%; }

.img-block {
  display: block;
  width: 100%;
  text-align: center; }

.img {
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%; }

.img-flag {
  height: 20px;
  width: auto;
  margin: 0; }

.btn-group-vertical {
  border: 2px solid #457dbb;
  border-radius: 6px;
  margin-top: 200px; }

.btn-group-vertical .btn {
  margin-top: 15px;
  margin-bottom: 15px; }

.btn-line {
  margin-top: 15px;
  margin-bottom: 15px; }

.page-title-link:hover {
  color: #044173;
  text-decoration: none;
  background-color: white; }

.page-title-temp {
  border: 2px solid #457dbb;
  background-color: #457dbb;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
  opacity: 0.3; }

.list-group-item {
  text-align: left; }

.img-flag {
  height: 20px;
  width: auto;
  margin: 0; }

link {
  color: #ffffff; }

.centered {
  text-align: center; }

.vertical-center {
  display: flex;
  align-items: center; }

.red {
  color: red; }

.nav-tabs > li {
  border: 1px solid #457dbb; }

.nav-tabs.nav-justified > li > a {
  border-bottom: none; }

.nav-tabs > li > a:hover {
  background-color: #234ca5 !important;
  color: #ffffff !important; }

.nav-tabs > li.active > a {
  background-color: #457dbb !important;
  color: #ffffff !important; }

.nav-tabs > li > a:focus {
  background-color: #457dbb !important;
  color: #ffffff; }

.boldRed {
  color: red;
  font-weight: bold;
  font-size: 25px; }

.boldWhite {
  color: white;
  font-weight: bold;
  font-size: 25px; }

.bold {
  font-weight: bold; }

.rdw-editor-toolbar {
  border-style: none; }

.DraftEditor-root {
  border: 2px solid #457dbb;
  border-radius: 6px;
  margin-top: 10px;
  min-height: 200px; }

.editor-container {
  margin-top: 20px; }

.full-label {
  width: 100%; }

.page-title {
  border: 2px solid #044173;
  background-color: #044173;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px; }

.page-title-classifications {
  border: 2px solid #417324;
  background-color: #417324;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px; }

.page-title-operations {
  border: 2px solid #6f1417;
  background-color: #6f1417;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.inline {
  display: inline; }

.items {
  display: inline-block;
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%; }

.img-block {
  display: block;
  width: 100%;
  text-align: center; }

.img {
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%; }

.img-flag {
  height: 20px;
  width: auto;
  margin: 0; }

.btn-group-vertical {
  border: 2px solid #457dbb;
  border-radius: 6px;
  margin-top: 200px; }

.btn-group-vertical .btn {
  margin-top: 15px;
  margin-bottom: 15px; }

.btn-line {
  margin-top: 15px;
  margin-bottom: 15px; }

.page-title-link:hover {
  color: #044173;
  text-decoration: none;
  background-color: white; }

.page-title-temp {
  border: 2px solid #457dbb;
  background-color: #457dbb;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
  opacity: 0.3; }

.list-group-item {
  text-align: left; }

.img-flag {
  height: 20px;
  width: auto;
  margin: 0; }

link {
  color: #ffffff; }

.centered {
  text-align: center; }

.vertical-center {
  display: flex;
  align-items: center; }

.red {
  color: red; }

.nav-tabs > li {
  border: 1px solid #457dbb; }

.nav-tabs.nav-justified > li > a {
  border-bottom: none; }

.nav-tabs > li > a:hover {
  background-color: #234ca5 !important;
  color: #ffffff !important; }

.nav-tabs > li.active > a {
  background-color: #457dbb !important;
  color: #ffffff !important; }

.nav-tabs > li > a:focus {
  background-color: #457dbb !important;
  color: #ffffff; }

.boldRed {
  color: red;
  font-weight: bold;
  font-size: 25px; }

.boldWhite {
  color: white;
  font-weight: bold;
  font-size: 25px; }

.bold {
  font-weight: bold; }

.rdw-editor-toolbar {
  border-style: none; }

.DraftEditor-root {
  border: 2px solid #457dbb;
  border-radius: 6px;
  margin-top: 10px;
  min-height: 200px; }

.editor-container {
  margin-top: 20px; }

.full-label {
  width: 100%; }

.pg-rmes {
  display: inline-block; }
  .pg-rmes li {
    color: black;
    float: left;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border: 1px solid #ddd; }
    .pg-rmes li:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .pg-rmes li:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
    .pg-rmes li:hover:not(.active) {
      background-color: #ddd; }
    .pg-rmes li button {
      border: none;
      margin: 0;
      width: 100%;
      height: 100%;
      display: block;
      overflow: visible;
      background: transparent;
      color: inherit;
      font: inherit;
      line-height: normal;
      -webkit-font-smoothing: inherit;
      -moz-osx-font-smoothing: inherit;
      -webkit-appearance: none;
      padding: 0;
      border: 0;
      background-color: rgba(0, 0, 0, 0) !important;
      text-align: center; }

.pg-rmes-concepts li.active,
.pg-rmes-collections li.active {
  background-color: #457dbb;
  color: white;
  border: 1px solid #457dbb; }

.pg-rmes-classifications li.active {
  background-color: #419f2e;
  color: white;
  border: 1px solid #419f2e; }

.pg-rmes-operations li.active {
  background-color: #a31c20;
  color: white;
  border: 1px solid #a31c20; }

.Select-menu-outer {
  z-index: 5; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.inline {
  display: inline; }

.items {
  display: inline-block;
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%; }

.img-block {
  display: block;
  width: 100%;
  text-align: center; }

.img {
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%; }

.img-flag {
  height: 20px;
  width: auto;
  margin: 0; }

.btn-group-vertical {
  border: 2px solid #457dbb;
  border-radius: 6px;
  margin-top: 200px; }

.btn-group-vertical .btn {
  margin-top: 15px;
  margin-bottom: 15px; }

.btn-line {
  margin-top: 15px;
  margin-bottom: 15px; }

.page-title-link:hover {
  color: #044173;
  text-decoration: none;
  background-color: white; }

.page-title-temp {
  border: 2px solid #457dbb;
  background-color: #457dbb;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
  opacity: 0.3; }

.list-group-item {
  text-align: left; }

.img-flag {
  height: 20px;
  width: auto;
  margin: 0; }

link {
  color: #ffffff; }

.centered {
  text-align: center; }

.vertical-center {
  display: flex;
  align-items: center; }

.red {
  color: red; }

.nav-tabs > li {
  border: 1px solid #457dbb; }

.nav-tabs.nav-justified > li > a {
  border-bottom: none; }

.nav-tabs > li > a:hover {
  background-color: #234ca5 !important;
  color: #ffffff !important; }

.nav-tabs > li.active > a {
  background-color: #457dbb !important;
  color: #ffffff !important; }

.nav-tabs > li > a:focus {
  background-color: #457dbb !important;
  color: #ffffff; }

.boldRed {
  color: red;
  font-weight: bold;
  font-size: 25px; }

.boldWhite {
  color: white;
  font-weight: bold;
  font-size: 25px; }

.bold {
  font-weight: bold; }

.rdw-editor-toolbar {
  border-style: none; }

.DraftEditor-root {
  border: 2px solid #457dbb;
  border-radius: 6px;
  margin-top: 10px;
  min-height: 200px; }

.editor-container {
  margin-top: 20px; }

.full-label {
  width: 100%; }

.table-concepts .table-hover tbody tr:hover td {
  background-color: #457dbb; }

.table-classifications .table-hover tbody tr:hover td {
  background-color: #419f2e; }

.table-header-concepts {
  background-color: #457dbb;
  color: white; }

.table-header-classifications {
  background-color: #419f2e;
  color: white; }

.pagination-concepts .pagination > .active > a {
  background-color: #457dbb;
  border-color: #457dbb; }

.pagination-classifications .pagination > .active > a {
  background-color: #419f2e;
  border-color: #419f2e; }

.table-header-concepts thead tr th,
.table-header-classifications thead tr th {
  text-align: center !important; }

.marginTop {
  margin-top: 2%; }

.tabs-items {
  margin-top: 10px; }

div.rst__rowLabel {
  display: none; }


/*# sourceMappingURL=iframe.css.map*/