.code-zone .wilco-note {
  padding: 0;
}

.code-zone .panel-body {
  padding: 0.5em !important;
}

.code-zone .wilco-btn {
  padding: 5px 8px;
  font-size: 14px;
  flex: 1;
  margin: 0.5em;
}

/* stylelint-disable selector-class-pattern */
.rst__rowContents {
  justify-content: left;
}

.rst__rowContents .rst__rowLabel {
  order: 2;
  padding-left: 5px;
  padding-right: 5px;
}

.rst__rowContents .rst__rowToolbar {
  order: 1;
}
/* stylelint-enable selector-class-pattern */

.wilco-action-toolbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.wilco-action-toolbar::before {
  content: none;
}

.wilco-action-toolbar::after {
  content: none;
}

.wilco-action-toolbar > div {
  flex-grow: 1;
}

.wilco-action-toolbar .empty-center {
  flex-grow: 1;
}

.wilco-action-toolbar .wilco-btn {
  padding: 5px 8px;
  flex: 1;
  margin: 0.5em;
}
