@mixin list-item-separator($color) {
	content: '';
	height: 60%;
	width: 1px;
	position: absolute;
	right: 0;
	top: 20%;
	background-color: $color;
}

@media screen and (max-width: 767px) {
	.navbar-primary {
		.container-fluid {
			padding-right: 0;
			padding-left: 0;
		}
	}
	.navbar-nav {
		margin: 0;
	}
}
@media screen and (min-width: 767px) {
	.navbar-primary {
		.with-separator::after {
			@include list-item-separator(white);
		}
	}
}

.navbar-nav {
	width: 100%;
}

.navbar-primary {
	background: var(--color-3);
	font-size: 15.3pt;
	color: #cccfd9;
	line-height: 20px;
	margin-bottom: 0;
	border-radius: 0;
	border: 0;

	.collapse {
		display: block;
	}

	.navbar-nav {
		> li {
			padding: 0 10px;
		}
		a {
			color: white;
			border: 0;
			text-decoration: none;

			&:focus,
			&:hover {
				background: none;
			}
		}

		> .active,
		> li:hover {
			margin-left: -1px;
			background-color: white;
			> a,
			> button {
				color: var(--menu-active-page);
			}
		}
	}
}
