@import 'src/styles/mixin.scss';

.img-menu {
	height: 60px;
	padding: 0;
	width: auto;
}
.navbar-default-ref {
	background: #dddade;
	font-size: 20px;
	color: #45374e;
	margin-bottom: 0;
	border: 0;
	border-radius: 0;

	.navbar-nav-ref > li {
		padding: 0 20px;

		&:not(:nth-child(5)):after {
			@include list-item-separator(white);
		}
		> a {
			text-decoration: none;
			font-size: medium;
			font-family: 'Barlow', sans-serif;
			padding: 10px;
		}
	}
}
