@import 'src/main.scss';

.page-subtitle-concepts {
	border: 2px solid $color_concepts_4;
	background-color: $color_concepts_4;
	color: white;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 20px;
}

.page-subtitle-classifications {
	border: 2px solid $color_classifications_4;
	background-color: $color_classifications_4;
	color: white;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 20px;
}

.page-subtitle-operations {
	border: 2px solid $color_operations_4;
	background-color: $color_operations_4;
	color: white;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 20px;
}
