body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.inline {
  display: inline; }

.items {
  display: inline-block;
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%; }

.img-block {
  display: block;
  width: 100%;
  text-align: center; }

.img {
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%; }

.img-flag {
  height: 20px;
  width: auto;
  margin: 0; }

.btn-group-vertical {
  border: 2px solid #457dbb;
  border-radius: 6px;
  margin-top: 200px; }

.btn-group-vertical .btn {
  margin-top: 15px;
  margin-bottom: 15px; }

.btn-line {
  margin-top: 15px;
  margin-bottom: 15px; }

.page-title-link:hover {
  color: #044173;
  text-decoration: none;
  background-color: white; }

.list-group-item {
  text-align: left; }

.img-flag {
  height: 20px;
  width: auto;
  margin: 0; }

link {
  color: #ffffff; }

.centered {
  text-align: center; }

.vertical-center {
  display: flex;
  align-items: center; }

.red {
  color: red; }

.nav-tabs > li {
  border: 1px solid #457dbb; }

.nav-tabs.nav-justified > li > a {
  border-bottom: none; }

.nav-tabs > li > a:hover {
  background-color: #234ca5 !important;
  color: #ffffff !important; }

.nav-tabs > li.active > a {
  background-color: #457dbb !important;
  color: #ffffff !important; }

.nav-tabs > li > a:focus {
  background-color: #457dbb !important;
  color: #ffffff; }

.boldRed {
  color: red;
  font-weight: bold;
  font-size: 25px; }

.boldWhite {
  color: white;
  font-weight: bold;
  font-size: 25px; }

.bold {
  font-weight: bold; }

.rdw-editor-toolbar {
  border-style: none; }

.DraftEditor-root {
  border: 2px solid #457dbb;
  border-radius: 6px;
  margin-top: 10px;
  min-height: 200px; }

.navbar-icon {
  color: #ffffff;
  font-size: 17px; }

.inline {
  display: inline; }

.img-menu {
  height: 60px;
  padding: 0px;
  width: auto; }

.navbar-default-operations {
  background: #a31c20;
  font-size: 20px;
  font-family: arial;
  color: #ffffff;
  margin-bottom: 0;
  border-top: 0;
  border-bottom: 0; }

.navbar-default-operations .navbar-nav-operations > li > a {
  color: #ffffff; }

.navbar-default-operations .navbar-nav-operations > li > a:hover {
  text-decoration: none;
  background-color: #6f1417;
  color: #ffffff;
  border: 2px solid #6f1417;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

.navbar-default-operations .navbar-nav-operations > li > a:focus,
.navbar-default-operations .navbar-nav-operations > .active > a {
  background: #ffffff;
  color: #a31c20;
  border: 2px solid #6f1417;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }
