.sims-row {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  margin-right: -15px;
  margin-left: -15px;

  > div {
    display: flex;
    flex-direction: column;
    flex: 1;

    &:nth-child(2) .panel-heading,
    &:nth-child(2) .panel-title {
      background: var(--color-1);
    }
    &:nth-child(1) + div {
      margin-left: 2em;
    }

    .panel-heading,
    .panel-title {
      background: var(--color-2);
      color: #fff;
    }

    .panel-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      > div:nth-child(1) {
        flex-grow: 1;
      }
    }
  }
}
