.page-subtitle-concepts {
  border: 2px solid #5d87e8;
  background-color: #5d87e8;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px; }

.page-subtitle-classifications {
  border: 2px solid #00b300;
  background-color: #00b300;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px; }
