@import 'src/main.scss';

@mixin note($color1, $color2) {
	height: 100%;
	&:nth-child(2) .panel-heading {
		background: $color2;
	}
	&:nth-child(1) .panel-heading {
		background: $color1;
	}
	.panel-heading {
		color: #fff;
	}

	.panel-body {
		background: white;
		box-shadow: 1px 2px #b4b4b4;
	}
}
.note-concepts {
	@include note(var(--color-2), var(--color-1));
}

.note-classifications {
	@include note(var(--color-2), var(--color-1));
}
.note-operations {
	@include note(var(--color-2), var(--color-1));
}

.note-dsds {
	@include note(var(--color-2), var(--color-1));
}
