.img-menu {
	height: 60px;
	padding: 0;
	width: auto;
}
.navbar-default-ref {
	background: #484747;
	font-size: 20px;
	font-family: arial;
	color: #fff;
	margin-bottom: 0;
	border-top: 0;
	border-bottom: 0;

	.navbar-nav-ref > .active > a,
	.navbar-nav-ref > .active > a:hover,
	.navbar-nav-ref > .active > a:focus {
		background: #484747;
		color: #fff;
	}

	.navbar-nav-ref > li > a {
		color: #fff;
		width: 250px;

		&:hover {
			text-decoration: none;
			background-color: #808080;
			color: #fff;
		}
	}
}
