.panel {
  height: 100%;

  .card-title {
    margin-bottom: 0;
  }

  .card-header {
    background: var(--color-2);
    color: #fff;
  }
  &:nth-child(2) .card-header {
    background: var(--second-lang-bloc-title);
    color: #fff;
  }

  .card-body {
    background: white;
    box-shadow: 1px 2px #b4b4b4;
  }
}
