@import 'src/main.scss';

@mixin btn($color2, $color3) {
	background-color: $color2;
	color: white;
	font-weight: bold;
	&:hover:not([disabled]) {
		background-color: $color3;
		color: white;
	}
}

.btn-concepts {
	@include btn($color_concepts_2, $color_concepts_3);
}

.btn-classifications {
	@include btn($color_classifications_2, $color_classifications_3);
}

.btn-operations {
	@include btn($color_operations_2, $color_operations_3);
}

.btn-dsds {
	@include btn($color_dsds_2, $color_dsds_3);
}
