.new-button {
  background-color: var(--color-3);
  color: white;
  width: 100%;
  margin-bottom: 0.5em;
}

.new-button:hover {
  color: white;
}

.new-button:focus,
.new-button:hover:not([disabled]) {
  background-color: var(--color-2);
  color: white;
}
