.help-menu {
	margin-top: 100px;
}

.help-menu-item {
	font-size: 14px;
	color: var(--color-3);
	&:hover {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}
.help-menu-item-selected > p {
	background-color: var(--color-3);
	color: white;
	padding: 10px;
	border: 2px solid var(--color-3);
	border-radius: 6px;
}
.help-menu-sub {
	font-size: 20px;
	margin-bottom: 10px;
	color: var(--color-2);
	border: 2px solid var(--color-2);
	border-radius: 3px;
	padding: 5px;
	text-align: center;
}

.help-footer {
	margin-top: 50px;
	font-size: 16px;
}

.content-back-color {
	background-color: var(--color-3);
	color: white;
	padding: 2px;
	border: 1px solid var(--color-3);
	border-radius: 3px;
	&:hover {
		text-decoration: none;
	}
}

.content-color {
	color: var(--color-3);
	font-weight: bold;
}

.separator {
	border-top: 2px solid var(--color-3);
	margin-top: 10px;
	margin-bottom: 10px;
}
