.wilco-page-title__block {
  text-align: center;
}

.wilco-page-title__title {
  font-family: "Frank Ruhl Libre", serif;
  color: #45374e;
  font-size: 26.5pt;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}
