@import 'src/index.scss';

@mixin page-title() {
	font-family: 'Frank Ruhl Libre', serif;
	color: #45374e;
	font-size: 26.5pt;
	padding: 10px;
	margin-bottom: 20px;
}
.page-title {
	@include page-title();
}

.page-title-classifications {
	@include page-title();
}

.page-title-operations {
	@include page-title();
}

.page-title-dsds {
	@include page-title();
}
