.page-title {
	border: 2px solid #044173;
	background-color: #044173;
	color: white;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 20px;
}

.page-title-classifications {
	border: 2px solid #003300;
	background-color: #003300;
	color: white;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 20px;
}

.page-title-operations {
	border: 2px solid #6f1417;
	background-color: #6f1417;
	color: white;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 20px;
}
