@import 'src/app.scss';

.pg-rmes {
	display: inline-block;
}

.pg-rmes li {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border: 1px solid #ddd;
}

.pg-rmes li:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.pg-rmes li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.pg-rmes-concepts li.active,
.pg-rmes-collections li.active {
	background-color: $color_concepts_3;
	color: white;
	border: 1px solid $color_concepts_3;
}

.pg-rmes-classifications li.active {
	background-color: $color_classifications_3;
	color: white;
	border: 1px solid $color_classifications_3;
}

.pg-rmes-operations li.active {
	background-color: $color_operations_3;
	color: white;
	border: 1px solid $color_operations_3;
}

.pg-rmes li:hover:not(.active) {
	background-color: #ddd;
}
