.panel-concepts {
	border-color: #457dbb;
}
.panel-concepts > .panel-heading {
	background: #457dbb;
	color: #ffffff;
	border-color: #457dbb;
}

.panel-concepts > .panel-body {
	background: #f3f3f3;
	border-color: #457dbb;
}
