@import 'src/styles/mixin.scss';
@import 'src/styles/colors.scss';

@import 'src/styles/utility.scss';

body {
	margin: 0;
	padding: 0;
	font-family: 'Barlow', sans-serif;
	background: linear-gradient(to top, #efeef1, #fefefe);
	min-height: 100vh;
}
a {
	color: #045396;
}

.items {
	display: inline-block;
	width: 15%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10%;
}

.img-block {
	display: block;
	width: 100%;
	text-align: center;
}

img.img-flag {
	height: 20px !important;
	width: auto !important;
	margin: 0 !important;
}

@media (max-width: 1000px) {
	.operations-list {
		width: 100%;
	}
}

.btn-line {
	margin-top: 15px;
	margin-bottom: 15px;
}

.list-group-item {
	text-align: left;
}

.vertical-center {
	display: flex;
	align-items: center;
}

.red {
	color: red;
}

.nav-tabs > li {
	border: 1px solid var(--color-3);
}
.nav-tabs.nav-justified > li > a {
	border-bottom: none;
}
.nav-tabs > li > a:hover {
	background-color: var(--color-2) !important;
	color: #fff !important;
}
.nav-tabs > li.active > a {
	background-color: var(--color-3) !important;
	color: #fff !important;
}
.nav-tabs > li > a:focus {
	background-color: var(--color-3) !important;
	color: #fff;
}

.boldRed {
	color: red;
	font-weight: bold;
	font-size: 25px;
}
.boldWhite {
	color: white;
	font-weight: bold;
	font-size: 25px;
}

.alert.alert-danger {
	font-weight: bold;
}

.rdw-editor-toolbar {
	border-style: none;
	background: transparent;
}

.DraftEditor-root {
	border: 2px solid var(--color-3);
	border-radius: 6px;
	margin-top: 10px;
	min-height: 200px;
	background: white;
}

.editor-container {
	margin-top: 20px;
}

.full-label {
	width: 100%;
}
.form-label {
	display: block;
}

.row.flex {
	display: flex;
	flex-wrap: wrap;
}
.row.flex [class*='col-'] {
	display: flex;
	flex-direction: column;
}

footer {
	p {
		color: #0b0b55;
		font-weight: bold;
	}
}

.dropzone {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border-width: 2px;
	border-radius: 2px;
	border-color: #eeeeee;
	border-style: dashed;
	background-color: #fafafa;
	color: #bdbdbd;
	outline: none;
	transition: border 0.24s ease-in-out;
}

// to be deleted with the new version of Wilco
@mixin list-item-separator($color) {
	content: '';
	height: 60%;
	width: 1px;
	position: absolute;
	right: 0;
	top: 20%;
	background-color: $color;
}
.navbar-primary {
	background: var(--color-3);
	font-size: 15.3pt;
	color: #cccfd9;
	line-height: 20px;
	margin-bottom: 0;
	border-radius: 0;
	border: 0;

	.collapse {
		display: block;
	}

	.navbar-nav {
		> li {
			padding: 0 10px;
			&:hover,
			&.active {
				background: var(--color-2);
				margin-left: -1px;

				> a,
				> button {
					color: red;
					background: none;
					&:focus,
					&:hover {
						background: none;
					}
				}
				&::after {
					@include list-item-separator(transparent);
				}
			}
			a {
				color: white !important;
				border: 0;
				text-decoration: none;
			}
		}
	}
}
