@import 'src/main.scss';

.loading-row {
	margin-top: 5%;
}

.loading-concepts > div {
	fill: var(--color-3) !important;
}
.loading-text-concepts {
	color: var(--color-3);
}

.loading-classifications > div {
	fill: var(--color-3) !important;
}
.loading-text-classifications {
	color: var(--color-3);
}

.loading-operations > div {
	fill: var(--color-3) !important;
	margin: auto;
}
.loading-text-operations {
	color: var(--color-3);
}
