.container.msd__container {
  width: 1300px;
}

.msd__container {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin-top: 20px;
}

.msd__outline {
  box-sizing: border-box;
  width: 30%;
  margin: 0;
  overflow: hidden auto;
  padding: 70px 20px 20px;
  border-right: solid var(--primary-color) 1px;
  position: sticky;
  top: 0;
  max-height: 100vh;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  background-color: transparent;

  ul {
    list-style: none;
  }
}

.msd__outline_title {
  font-size: 2.8rem;
  color: var(--primary-color);
  border: none;
  border-bottom: solid 2px var(--primary-color);
  padding: 0 0 10px;
  margin: 0 0 15px;
}

.msd__outline-container {
  border: none;
  margin: 0;
  padding: 0;
}

.msd__outline-content {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

.msd__content {
  box-sizing: border-box;
  width: 70%;
  margin: 0;
  padding: 70px 20px 20px;
}

.msd__content_alone {
  box-sizing: border-box;
  width: 60%;
  margin: 0;
  padding: 70px 20px 20px;
  border-left: solid var(--primary-color) 1px;
}

.msd__content .panel {
  background: white;
  margin-bottom: 30px;
}

.msd__content .panel-body {
  background: white;
}

.msd__content ul {
  list-style: disc;
}
