.physical-import-dialog {
	width: 20vw;
	

	.create-button {
		background-color: var(--color-3);
		border-color: var(--color-3);
		color: white ;

		&:hover {
			background-color: var(--color-2) ;
			border-color: var(--color-2) ;
		}
	}
}
