.pagination {
    display: inline-block;
}

.pagination li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination li.active {
    background-color: #457DBB;
    color: white;
    border: 1px solid #457DBB;
}

.pagination li:hover:not(.active) {background-color: #ddd;}
