@import 'src/app.scss';

.btn-concepts {
	background-color: $color_concepts_3;
	border-color: $color_concepts_3;
	color: white;
	&:hover {
		color: white;
	}
	&:hover:not([disabled]) {
		background-color: $color_concepts_2;
		color: white;
	}
}

.btn-classifications {
	background-color: $color_classifications_3;
	border-color: $color_classifications_3;
	color: white;
	&:hover {
		color: white;
	}
	&:hover:not([disabled]) {
		background-color: $color_classifications_2;
		color: white;
	}
}

.btn-operations {
	background-color: $color_operations_3;
	border-color: $color_operations_3;
	color: white;
	&:hover {
		color: white;
	}
	&:hover:not([disabled]) {
		background-color: $color_operations_2;
		color: white;
	}
}
