@import 'src/app.scss';

.btn-concepts {
	background-color: $color_concepts_1;
	border-color: $color_concepts_1;
	color: white;
}

.btn-classifications {
	background-color: $color_classifications_1;
	border-color: $color_classifications_1;
	color: white;
}

.btn-operations {
	background-color: $color_operations_1;
	border-color: $color_operations_1;
	color: white;
}
