@import 'src/main.scss';

.page-title {
	border: 2px solid $color_concepts_1;
	background-color: $color_concepts_1;
	color: white;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 20px;
}

.page-title-classifications {
	border: 2px solid $color_classifications_1;
	background-color: $color_classifications_1;
	color: white;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 20px;
}

.page-title-operations {
	border: 2px solid $color_operations_1;
	background-color: $color_operations_1;
	color: white;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 20px;
}
