.operations {
	--color-1: #a96d88;
	--color-2: #7e375b;
	--color-3: #600141;
}
.concepts {
	--color-1: #91b5d0;
	--color-2: #425d84;
	--color-3: #5f7a96;
}
.classifications {
	--color-1: #417324;
	--color-2: #53872a;
	--color-3: #419f2e;
}
.dsds {
	--color-1: #99004d;
	--color-2: #ff0080;
	--color-3: #ff66b3;
}
