$color_concepts_1: #91b5d0;
$color_concepts_2: #425d84;
$color_concepts_3: #5f7a96;

// Define classifications colors
$color_classifications_1: #417324;
$color_classifications_2: #53872a;
$color_classifications_3: #419f2e;

// Define operations colors
$color_operations_1: #a96d88;
$color_operations_2: #7e375b;
$color_operations_3: #600141;

// Define DSDs colors
$color_dsds_1: #99004d;
$color_dsds_2: #ff0080;
$color_dsds_3: #ff66b3;

.operations {
	--color-1: #a96d88;
	--color-2: #7e375b;
	--color-3: #600141;
}
.concepts {
	--color-1: #91b5d0;
	--color-2: #425d84;
	--color-3: #5f7a96;
}
.classifications {
	--color-1: #417324;
	--color-2: #53872a;
	--color-3: #419f2e;
}
.dsds {
	--color-1: #99004d;
	--color-2: #ff0080;
	--color-3: #ff66b3;
}
