@import 'src/app.scss';

.panel-concepts {
	border-color: $color_concepts_3;
}
.panel-concepts > .panel-heading {
	background: $color_concepts_3;
	color: #ffffff;
	border-color: $color_concepts_3;
}

.panel-concepts > .panel-body {
	background: #f3f3f3;
	border-color: $color_concepts_3;
}

.panel-classifications {
	border-color: $color_classifications_3;
}
.panel-classifications > .panel-heading {
	background: $color_classifications_3;
	color: #ffffff;
	border-color: $color_classifications_3;
}

.panel-classifications > .panel-body {
	background: #f3f3f3;
	border-color: $color_classifications_3;
}
