@mixin rich-text($padding) {
	box-shadow: 1px 2px #b4b4b4;
	margin-left: 0;
	margin-right: 0;

	margin-bottom: 30px;

	.wilco-note {
		margin-bottom: 0;
		.panel {
			margin-bottom: 0;
			border: none;
			box-shadow: none;
		}
		.panel-body {
			border: none;
			box-shadow: none;
		}
	}
	.wilco-note:nth-child(1) {
		padding-right: $padding;
		padding-left: 0;
	}
	.wilco-note:nth-child(2) {
		padding-right: 0;
		padding-left: $padding;
	}
}

.bauhaus-sims-field__RICH_TEXT {
	@include rich-text(0);
}

.bauhaus-sims-field__RICH_TEXT_2col {
	@include rich-text(1em);
}

.bauhaus-sims-creation {
	display: flex;
	flex-direction: column;
}
.bauhaus-sims-geography-field {
	display: flex;

	.form-group {
		flex-grow: 1;
		div[class$='singleValue'] {
			overflow: visible;
		}
	}
	.btn-group {
		margin-left: 1em;

		.btn {
			min-height: 38px;
		}
	}
}

.bauhaus-sims-field {
	display: flex;
	flex-direction: column;
	.bauhaus-sims-field-form {
		display: flex;
		flex-direction: row;

		.wilco-note {
			flex: 1;
		}

		.card-body {
			display: flex;
    		flex-direction: column;
		}
	}
}

.bauhaus-documents-bloc .col-md-6:nth-child(2) .panel-heading {
	background: var(--color-1);
	color: #fff;
}

.bauhaus-sims-duplicate .Select-placeholder {
	color: black;
}
