.admin-home .items {
	display: inline-block;
	width: 25%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
}

.admin-home .img {
	width: 25%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
}
