.physical-instance-creation-dialog {
  width: 20vw;

  .dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .create-button {
    background-color: var(--color-3);
    border-color: var(--color-3);
    color: white;

    &:hover {
      background-color: var(--color-2);
      border-color: var(--color-2);
    }
  }
}
