.physical-instance-creation-dialog {
  width: 25vw;
  min-height: 20vh;
  font-size: 1.5rem;

  .p-dialog-title {
    font-size: 1.5rem;
  }

  .p-dialog-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  form {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: auto;
  }

  .create-button {
    background-color: var(--color-3);
    border-color: var(--color-3);
    color: white;

    &:hover {
      background-color: var(--color-2);
      border-color: var(--color-2);
    }
  }
}
