.action-toolbar {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-wrap: wrap;


  &::before {
    content: none;
  }
  &::after {
    content: none;
  }

  > div {
    flex-grow: 1;
  }

  .empty-center {
    flex-grow: 1;
  }
}
