@import 'src/main.scss';

.table-concepts .table-hover tbody tr:hover td {
	background-color: $color_concepts_3;
}
.table-classifications .table-hover tbody tr:hover td {
	background-color: $color_classifications_3;
}

.table-header-concepts {
	background-color: $color_concepts_3;
	color: white;
}
.table-header-classifications {
	background-color: $color_classifications_3;
	color: white;
}

.pagination-concepts .pagination > .active > a {
	background-color: $color_concepts_3;
	border-color: $color_concepts_3;
}
.pagination-classifications .pagination > .active > a {
	background-color: $color_classifications_3;
	border-color: $color_classifications_3;
}

.table-header-concepts thead tr th,
.table-header-classifications thead tr th {
	text-align: center !important;
}

.marginTop {
	margin-top: 2%;
}
