@import 'src/styles/mixin.scss';

// Define concepts colors
$color_concepts_1: #044173;
$color_concepts_2: #234ca5;
$color_concepts_3: #457dbb;
$color_concepts_4: #5d87e8;

// Define classifications colors
$color_classifications_1: #417324;
$color_classifications_2: #53872a;
$color_classifications_3: #419f2e;
$color_classifications_4: #85c630;

// Define operations colors
$color_operations_1: #6f1417;
$color_operations_2: #6f1417;
$color_operations_3: #a31c20;
$color_operations_4: #db2754;

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
a {
	color: #045396;
}
.inline {
	display: inline;
}

.items {
	display: inline-block;
	width: 15%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 10%;
}

.img-block {
	display: block;
	width: 100%;
	text-align: center;
}

.img-flag {
	height: 20px;
	width: auto;
	margin: 0;
}

.btn-group-vertical {
	border-color: $color_concepts_3;
	@include btn-group-vertical();
}

.operations-btn-group-vertical {
	border-color: $color_operations_3;
	@include btn-group-vertical();
}

.btn-line {
	margin-top: 15px;
	margin-bottom: 15px;
}

ul.home-page-links {
	display: flex;
	list-style: none;
	flex-direction: row;
	li {
		flex: 1;

		h2 {
			width: 90%;
			margin: 10px auto 10px auto;
			text-align: center;
		}
		img {
			width: 90%;
		}
	}
}
@media screen and (max-width: 640px) {
	ul.home-page-links {
		flex-direction: column;
	}
}
.page-title-link:hover {
	color: $color_concepts_1;
	text-decoration: none;
	background-color: white;
}

.page-title-temp {
	border: 2px solid $color_concepts_3;
	background-color: $color_concepts_3;
	color: white;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 20px;
	opacity: 0.3;
}

.list-group-item {
	text-align: left;
}

.img-flag {
	height: 20px;
	width: auto;
	margin: 0;
}

link {
	color: #fff;
}

.centered {
	text-align: center;
}

.vertical-center {
	display: flex;
	align-items: center;
}

.red {
	color: red;
}

.nav-tabs > li {
	border: 1px solid $color_concepts_3;
}
.nav-tabs.nav-justified > li > a {
	border-bottom: none;
}
.nav-tabs > li > a:hover {
	background-color: $color_concepts_2 !important;
	color: #fff !important;
}
.nav-tabs > li.active > a {
	background-color: $color_concepts_3 !important;
	color: #fff !important;
}
.nav-tabs > li > a:focus {
	background-color: $color_concepts_3 !important;
	color: #fff;
}

.boldRed {
	color: red;
	font-weight: bold;
	font-size: 25px;
}
.boldWhite {
	color: white;
	font-weight: bold;
	font-size: 25px;
}

.bold {
	font-weight: bold;
}

.rdw-editor-toolbar {
	border-style: none;
}

.DraftEditor-root {
	border: 2px solid $color_concepts_3;
	border-radius: 6px;
	margin-top: 10px;
	min-height: 200px;
}

.editor-container {
	margin-top: 20px;
}

.full-label {
	width: 100%;
}
.form-label {
	display: block;
}

.row.flex {
	display: flex;
	flex-wrap: wrap;
}
.row.flex [class*='col-'] {
	display: flex;
	flex-direction: column;
}

footer {
	p {
		font-weight: bold;
	}
}
