a.bauhaus-sticky-top {
	span {
		text-transform: uppercase;
		font-weight: 700;
	}

	display: block;
	font-size: 12px;
	font-size: 1.2rem;
	position: fixed;
	bottom: 0;
	right: 0;
	text-decoration: none;
	background-color: #044173;
	padding: 5px 8px 8px 8px;
	display: none;
	margin: 0;
	padding: 10px;
	width: 60px;
	line-height: 18px;
	text-align: center;
	color: white;
}
