@import 'src/app.scss';

.panneau {
	position: relative;
	display: block;
	padding: 0;
	margin-top: 20px;

	> .sommaire-gauche {
		box-sizing: border-box;
		float: left;
		width: 33%;
		margin: 0;
		padding: 0;
		overflow: hidden;
		padding: 70px 20px 20px 20px;
		border-right: solid $color_operations_3 1px;
	}

	.ouverture-sommaire,
	.ouverture-contenu {
		margin-top: 20px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		padding: 6px 5px 2px 5px;
	}

	ul {
		list-style: none;
	}
}
.panneau.produit-sommaire .panneau.produit-sommaire .ouverture-sommaire,
.panneau.produit-sommaire .ouverture-contenu,
.panneau.produit-sommaire .fermeture {
	position: absolute;
	margin-top: 20px;
	background-color: $color_operations_3;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
button {
	background-color: $color_operations_3;
	color: #fff;
	display: inline-block;
	border: 0px none;
	padding: 0;
	text-align: left;
	&.white {
		background-color: transparent;
		color: black;
		padding-right: 5px;
		margin-left: -19px;
	}
	&.up-down {
		position: absolute;
		right: 15px;
		top: 40%;
		display: block;
	}
}

.ouverture-contenu {
	position: absolute;
	right: 0;
	display: block;
}

.panneau.produit-sommaire .fermeture {
	width: 50px;
	height: 30px;
	left: calc(33% - 25px);
	border-radius: 2px;
	display: table;
}
.panneau.produit-sommaire .fermeture .fermeture-gauche,
.panneau.produit-sommaire .fermeture .fermeture-droite {
	vertical-align: middle;
	display: table-cell;
}
.panneau.produit-sommaire .sommaire-droite {
	box-sizing: border-box;
	float: right;
	width: 67%;
	margin: 0;
	padding: 0;
	padding: 70px 20px 20px 20px;

	&.alone {
		border-left: solid $color_operations_3 1px;
	}
}
.panneau.produit-sommaire .sommaire-droite .titre-sommaire {
	margin-bottom: 30px;
}
.panneau.produit-sommaire .sommaire-droite .titre-sommaire .titre {
	border: none;
	margin: 0;
	padding: 0;
	max-width: 668px;
}
.panneau.produit-sommaire
	.sommaire-droite
	.titre-sommaire
	.titre
	.titre-principal {
	font-size: 28px;
	font-size: 2.8rem;
	margin: 0 0 10px 0;
	line-height: 30px;
}

.sommaire-gauche {
	background-color: transparent;
	.titre {
		font-size: 28px;
		font-size: 2.8rem;
		color: $color_operations_3;
		border: none;
		border-bottom: solid 2px $color_operations_3;
		padding: 0 0 10px 0;
		margin: 0 0 15px 0;
	}
	.sommaire-container {
		border: none;
		margin: 0;
		padding: 0;
	}
	.sommaire-container .sommaire {
		background-color: transparent;
		padding: 0;
		margin: 0;
		border: none;
	}
}

.primary-item {
	background-color: $color_operations_3;
	padding: 15px 30px;
	border-radius: 2px;
	margin-top: 30px;
	color: white;
	position: relative;
	a {
		color: white;
	}
}

.sommaire-item {
	font-size: 14px;
	font-size: 1.4rem;
	padding: 15px 0;
	margin-bottom: 30px;
	border: solid #e0e0e0 1px;
	background-color: #fff;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	&.secondary {
		padding: 0;
		border: none;
	}

	li {
		text-transform: none;
		padding: 0 10px 0 30px;
		margin: 15px 0;
		color: #337ab7;
		border-radius: 0;
	}
}

.contenu {
	margin-left: 50px;
}
