.bauhaus-table .table-hover tbody tr:hover td {
	background-color: var(--color-3);
	color: white;
}

.bauhaus-table-header {
	background-color: var(--color-3);
	color: white;
	thead tr th,
	thead tr th {
		text-align: center !important;
	}
}

.pagination > .active > a {
	background-color: var(--color-3);
	border-color: var(--color-3);
}

.marginTop {
	margin-top: 2%;
}

.dropup .caret,
.dropdown .caret {
	color: white !important;
}
