name: Quality
on: [push]
jobs:
  test-build:
    name: Test & build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 14, 16, 17 ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: yarn
      # Build modules
      - run: yarn build-insee
      # Build sonar reports
      - run: yarn test:coverage
      - name: Upload deploy artifact
        uses: actions/upload-artifact@v2
        with:
          name: coverage
          path: |
            app/coverage/
            packages/**/coverage/
  sonarcloud:
    runs-on: ubuntu-latest
    needs: test-build
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Download coverage artifact
        uses: actions/download-artifact@v2
        with:
          name: coverage
          path: coverage

