name: Docker
on:
  release:
    types: [created]
    branches:
      - main

jobs:
  build:
    name: Test & Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 20 ]
    steps:
      - uses: actions/checkout@v2
      - name: Use Generic CI For Building the Application
        uses: ./.github/actions/generic-ci-app
      - name: Upload deploy artifact
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: build/
  docker:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Download build
        id: download
        uses: actions/download-artifact@v2
        with:
          name: build
          path: app/build/
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Extract version
        run: echo "VERSION=$(cat package.json | jq -r .version)" >> $GITHUB_ENV
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          file: Dockerfile.dev
          tags: inseefr/bauhaus:${{ env.VERSION }}
