name: Playwright Tests
on:
  workflow_dispatch:
  pull_request:
    branches: [main, master]
jobs:
  playwright:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Checkout BackOffice
        uses: actions/checkout@v4
        with:
          repository: inseefr/bauhaus-back-office
          path: ./bauhaus-back-office
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        working-directory: ./e2e
        run: npm ci --force
      - name: Install Playwright Browsers
        working-directory: ./e2e
        run: npx playwright install --with-deps
      - uses: adambirds/docker-compose-action@v1.5.0
        with:
          compose-file: './bauhaus-back-office/compose.yml'
          test-command: 'chmod 777 ./playwright/db/init.sh && ./playwright/db/init.sh && cd ./e2e && npx playwright test'
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
