.bauhaus-btn {
	background-color: var(--color-3);
	color: white;
	font-weight: bold;
	&:hover:not([disabled]),
	&:focus {
		background-color: var(--color-2);
		color: white;
	}
	&:hover {
		color: white;
	}
}
